<ng-container *transloco="let t">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h4>
          <button
            type="button"
            mat-icon-button
            [matTooltip]="t('dashboard.metrics.toggle_legend')"
            [class]="
              'button-toggle-legend ' +
              (legend ? 'icon-toggle-legend-active' : '')
            "
            [attr.aria-label]="t('dashboard.metrics.toggle_legend')"
            (click)="toggleLegend()"
          >
            <mat-icon>legend_toggle</mat-icon>
          </button>
          {{ title }}
        </h4>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div
        [class]="
          breakpoints.sizeAtLeast('Large') ? 'app-chart' : 'app-chart-small'
        "
      >
        <canvas
          baseChart
          [data]="chartConfig.data"
          [options]="chartConfig.options"
          [type]="chartConfig.type"
          [height]="height"
          [width]="width"
        >
        </canvas>
        @if (!hasData) {
          <div class="chart-empty">{{ t("dashboard.metrics.no_data") }}</div>
        }
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>
